@model IEnumerable<MovieLibrary.Models.ViewModels.Movies.MovieViewModel>

@{
    ViewData["Title"] = "Movies";
}

<h1 class="mb-4">Movies</h1>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="get">
                <div class="input-group shadow-lg">
                    <input type="text"
                           name="searchTerm"
                           class="form-control form-control-lg"
                           placeholder="🔍 Search movies..."
                           style="border-radius: 50px 0 0 50px;" />

                    <button type="submit"
                            class="btn btn-warning btn-lg"
                            style="border-radius: 0 50px 50px 0;">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success mb-3">
        + Add Movie
    </a>
}



<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card bg-dark text-light h-100 shadow">

                <img src="@movie.ImageUrl" class="card-img-top" style="height:350px; object-fit:cover;" />

                <div class="card-body">
                    <h5 class="card-title text-warning">@movie.Title</h5>

                    <p class="mb-1">
                        <strong>Genre:</strong> @movie.Genres
                    </p>

                    <p class="mb-1">
                        <strong>Year:</strong> @movie.ReleaseYear
                    </p>

                    <p class="text-warning">
                        ⭐ @movie.Rating
                    </p>

                    <a asp-controller="Movies"
                       asp-action="Details"
                       asp-route-id="@movie.Id"
                       class="btn btn-outline-warning btn-sm w-100">
                        View Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>